body {
  margin: 0;
}
.header {
  color: #ffffff;
  background-color: #7030a0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
}

h1,
h2,
.nav ul li {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
}

.nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.featured-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-container h2 a {
  color: #c00100;
  text-decoration: none;
}
